<!--{% for x in data %}-->
<!--   {{ x.emp_id.id }}-->
<!--{% endfor %}-->


<table style="width:100%" border="1">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Designation</th>
      <th>Salary</th>
    </tr>
    {% for x in data %}
       <tr>
         <td>{{x.emp_id.id}}</td>
         <td>{{x.emp_id.name}}</td>
         <td>{{x.emp_id.address}}</td>
         <td>{{x.emp_id.phone}}</td>
         <td>{{x.emp_id.designation}}</td>
         <td>{{x.salary}}</td>
       </tr>
    {% endfor %}
    </table>

    <form method="get">
<!--            {{ filter.form.as_p }}-->
            <input type="submit" />
        </form>

        <table style="width:100%" border="1">
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Address</th>
                  <th>Phone</th>
                  <th>Designation</th>
                  <th>Salary</th>
                </tr>
            {% for x in filter %}
                <tr>
                 <td>{{x.id}}</td>
                 <td>{{x.name}}</td>
                 <td>{{x.address}}</td>
                 <td>{{x.phone}}</td>
                 <td>{{x.designation}}</td>
                 <td>{{x.salary}}</td>
               </tr>
            {% endfor %}
        </table>
